/* Blog post styles */
body {
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    background-color: #f4f4f4;
}
.post {
    border: solid 1px #ccc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.post h2 {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}

.back-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

.back-button:hover {
    text-decoration: underline;
    
}
footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}