        /* Light mode styles */
        body {
            background-color: #f5f5f5;
            color: #333;
        }

        /* Dark mode styles */
        body.dark-mode {
            background-color: #333;
            color: #f5f5f5;
        }

        .toggle-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 20px;
        }

        .toggle-label {
            margin-right: 10px;
        }

        .back-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #f5f5f5;
            text-decoration: none;
        }