/* form.css */

/* Container for the signup form */
.blogPostform {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form header */
.h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-header h2 {
    font-size: 24px;
    color: #333;
}

/* Form fields */
.blogPostform input[type="text"],
.blogPostform input[type="email"],
.blogPostform input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Form submit button */

.blogPostform input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: black;
    border-radius: 1px;
    cursor: pointer;
}

.blogPostform input[type="submit"]:hover {
    background-color: #45a049;
}
.blogPostform button {
    width: 100%;
    padding: 10px;
    background-color: cornflowerblue;
    color: #fff;
    border: black;
    border-radius: 1px;
    cursor: pointer;
}

/* Form error message */
.signup-error {
    color: red;
    margin-top: 10px;
}