h1 {
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin: 0;
    font-size: 2em;
    text-align: center;
}
h1 button {
    background-color: gray;
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 10px;
    padding: 5px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-label {
    margin-right: 10px;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}